NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority
JWT_ACCESS_SECRET=replace_with_at_least_16_chars
JWT_REFRESH_SECRET=replace_with_at_least_16_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
ADMIN_EMAIL=admin@orvexa.co.uk
CORS_ORIGIN=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PUBLIC_KEY=pk_test_replace_me
ROYAL_MAIL_API_BASE_URL=https://api.royalmail.net
ROYAL_MAIL_API_KEY=replace_me
ROYAL_MAIL_API_SECRET=replace_me
SHIPPING_FROM_POSTCODE=SW1A1AA
MEDIA_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
CLOUDINARY_UPLOAD_FOLDER=orvexa
S3_REGION=eu-west-2
S3_BUCKET=replace_me
S3_ACCESS_KEY_ID=replace_me
S3_SECRET_ACCESS_KEY=replace_me
